/* Text Color Component */

.text-color-primary {
  color: #212529 !important;
}
.text-color-secondary {
  color: #52556f !important;
}
.text-color-light {
  color: #6e7491 !important;
}
.text-color-white {
  color: #ffffff !important;
}

/* Color Component */

.primary-color {
  color: #eb1933 !important;
}
.secondary-color {
  color: #fde8eb !important;
}

.white-color {
  color: #fff;
}

/* Color Background Component */

.primary-bg-color {
  background-color: #eb1933 !important;
}
.secondary-bg-color {
  background-color: #fde8eb !important;
}

.white-bg-color {
  background-color: #fff;
}

/* font sizes */

.font-size-sm {
  font-size: 12px;
}
.font-size-md {
  font-size: 14px;
}
.font-size-lg {
  font-size: 16px;
}
.font-size-xl {
  font-size: 18px;
}
.font-size-xxl {
  font-size: 20px;
}
.font-size-xxxl {
  font-size: 24px;
}

/* css starts Here */

.pagination {
  justify-content: end !important;
}

.page-link {
  color: #333333;
}

.active > .page-link,
.page-link.active {
  background-color: #eb1933 !important;
  border-color: #eb1933 !important;
  color: white;
}

.html-content p {
  margin: 0; /* Removes top and bottom margins */
  padding: 0; /* Removes padding if any */
  line-height: 1.2; /* Adjusts the spacing between lines */
}
.html-content ul {
  margin: 0;
  padding-left: 20px; /* Adds padding only for indentation */
}
.html-content li {
  margin-bottom: 2px; /* Reduce spacing between list items */
}
