.searchview {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(28, 5, 77, 0.1),
    0px 12px 32px 0px rgba(0, 0, 0, 0.05);
}

.tab-button {
  border: none;
}

/* change range color */

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #eb1933 !important;
  cursor: pointer;
}

/* end of change range color */

.nav-tabs .nav-link {
  padding: 12px 32px !important;
  background-color: #f5f6fa !important;
  color: #333333 !important;
  border: none !important;
  font-size: 16px;
  font-weight: 500;
  margin-right: 10px;
}

.nav-tabs .nav-link.active {
  background-color: #fde8eb !important;
  color: #333333 !important;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: #e91c34;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: #eb1b34;
  border: 1px solid #eb1933 !important;
}
select[form-select]:focus option:checked {
  background-color: red !important;
}
